@import "tailwindcss";

/* Apply background image and set other properties */
body {
    background-color: black;
    color: #fff;
    font-family: "Inter", sans-serif;
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'UniviaPro';
    src: url('/fonts/UniviaPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes pulse-glow {
    0%, 100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
      box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.8);
    }
  }
  .animate-pulse-glow {
    animation: pulse-glow 2s infinite;
  }